<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-custom">
      <div class="panel-heading"><h4>Login to account</h4></div>
      <div class="panel-body">
        <form>
          <div class="errors" ng-show="error">
            <p>Incorrect Email address or password. Please try again.</p>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <input id="email" ng-model="credentials.email" type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input id="password" ng-model="credentials.password" type="password" class="form-control" placeholder="Password">
            </div>
          </div>

          <div class="form-group">
            <button id="login_btn" ng-click="login()" type="button" class="btn btn-custom btn-lg btn-block">Login</button>
          </div>
        </form>
      </div>
      <div class="panel-footer">Don't have an account? <a class="registration_link" ui-sref='registration'>Go to registration form</a></div>
    </div>
  </div>
</div>