<div class="panel-body tasks">
  <form class="task-form">
    <div class="sign"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
    <div class="text"><input type="text" class="form-control" placeholder="Start typing here to create a task"></div>
    <div class="date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
    <div class="add"><button class="btn btn-custom" type="button">Add task</button></div>
  </form>
  <div class="task-list">
    <div class="task-container" ng-repeat="task in tasks_list">
      <div class="task">
        <div class="status"><input type="checkbox" ng-model="task.status"></div>
        <div class="task-text">{{ task.name }}</div>
        <div class="date">
          <span ng-if="!!task.due_date">{{ task.due_date | date: 'dd.MM.yyyy' }}</span>
          <span class="glyphicon glyphicon-calendar" aria-hidden="true" ng-if="!task.due_date"></span>
        </div>
        <div class="edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
        <div class="remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>
      </div>
      <from class="form">
        <div class="task-text"><input type="text"></div>
        <div class="apply"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
        <div class="cancel"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
      </from>
      <comments task-id="task.id"></comments>
    </div>
  </div>
</div>