/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap-custom";

$main-color-dark: #294c7f;
$main-color-light: #9dc5ff;
$bg-color-dark: #83a4d4;
$bg-color-light: #dbeaff;

html {
  height: 100%;
}

body {
  background: $bg-color-dark;
  background: linear-gradient($bg-color-dark, $bg-color-light)  fixed;
  background: -webkit-linear-gradient($bg-color-dark, $bg-color-light)  fixed;
}

#welcome {
  h1, h3, h4 {
    text-align: center;
  }

  h3 {
    text-transform: uppercase;
  }
}

#menu {
  background-color: $main-color-dark;
  
  .navbar-brand{
    color: $main-color-light;
  }
  .navbar {
    margin-bottom: 0px;

    ul li {
      float: left;

      a {
        color: $main-color-light;

        &:hover, &:focus {
          color: $main-color-dark;
          background-color: $main-color-light;  
        }
      }
    }

    .navbar-right {
      float: right !important;
      margin-right: -15px;
    }

    .logout a{
      cursor: pointer;
    }
  }
}

#main_container {
  margin-top: 20px;

  .panel-custom {
    border-color: $main-color-dark;
    border-radius: 0px;
    
    .panel-heading {
      background-color: $main-color-dark;
      border-radius: 0px;
      color: $main-color-light;
      h4, form {
        display: flex;
        flex-direction: row;
      
        .glyphicon {
           margin-right: 5px;
           margin-left: 5px;
           cursor: pointer;
         }

        > span {
          display: box;
          flex: 0 0 20px;
          text-align: center;

          &.project-name {
            flex: 1;
            text-align: left;
          }
        }
      }
    }
    
    .panel-footer {
      color: $main-color-dark;
      background-color: $main-color-light;
    }
  }

  .btn-custom {
    background-color:$main-color-dark;
    color: $main-color-light;
  }

  #projects {
    .btn-custom {
      border: 1px solid #9dc5ff;
    }

    form {
      width: 100%;
    }
  }

  .tasks {
    padding: 0;

    .task-form {
      display: flex;
      flex-direction: row;
      padding: 5px;

      .sign, .date, .add {
        text-align: center;
        align-self: center;
      }

      .sign, .date {
        flex: 0 0 40px;
      }

      .add {
        flex: 0 0 auto;
      }

      .text {
        flex: 1;
      }
    }
    
    .task-list {
      .task-container {
        &:nth-of-type(even) {
          background-color: $main-color-light;
        }
        
        .task {
          display: flex;
          flex-direction: row;
          
          > div {
            padding: 8px;
          }
          
          .status, .edit, .remove {
            flex: 0 0 40px;
            text-align: center;
            align-self: center;
          }
          
          .task-text {
            flex: 1;
          }
          
          .date { 
            flex: 0 0 auto;
          }
        }
      }
      
      .comments {
        padding: 0 8px 0 8px;
        
        .commens-list {
          .comment {
            margin-bottom: 5px;
            
            .comment-body {
              
            }
            
            .comment-files ul {
              margin-bottom: 0px;
              list-style-type: none;
              padding-left: 10px;
              
              .comment-file {
                font-size: 12px;
              }
            }
          }
          
          .comment-form {
            padding-bottom: 8px;
            
            textarea {
              resize: none;
            }

            .attached-files ul {
              margin-bottom: 0px;
              list-style-type: none;
              padding-left: 10px;

              .attached-file {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  .input-group, .panel-custom, .input-group-btn, .btn, .alert, .form-control {
    border-radius: 0px;
  }

  .errors {
    color: #DC4747;

    &.errors-small {
      font-size: 12px;
    }

    &.errors-right {
      text-align: right;
    }
  }
}