<div id="projects">
  <div class="project-list">
    <div class="row" ng-repeat="project in projects_list">
      <div class="project-item">
        <div class="panel panel-custom">
          <div class="panel-heading" ng-class="{editing: project == edited_project}">
            <h4 class="item">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
              <span class="project-name" ng-dblclick="editProject(project)">{{ project.name }}</span> 
              <span class="glyphicon glyphicon-pencil edit" aria-hidden="true" ng-click="editProject(project)"></span> 
              <span class="glyphicon glyphicon-trash remove" aria-hidden="true" ng-click="destroyProject(project)"></span> 
            </h4>
            <form class="form" ng-submit="updateProject(project)">
              <span class="project-name">
              <input type="text" ng-trim="false" ng-model="project.name" todo-escape="cancelEditing(project)" todo-focus="project == edited_project">
              </span>
              <span class="glyphicon glyphicon-ok apply" aria-hidden="true" ng-click="updateProject(project)"></span>
              <span class="glyphicon glyphicon-remove cancel" aria-hidden="true" ng-click="cancelEditing(project)"></span>
            </form>
          </div>
          <task project-id="project.id"></task>
        </div>
      </div>
    </div>
  </div>
  <div class="project-form">
    <div class="row">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4>
            <form novalidate>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Start typing here project name" ng-model="new_project.name">
                <span class="input-group-btn">
                  <button class="btn btn-custom" type="button" ng-click="addProject(new_project)">Add new project</button>
                </span>
              </div>
            </form> 
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>