<!DOCTYPE html>
<html lang="en" ng-app="Todo">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todo App</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu" class="container-fluid" ng-controller="MenuCtrl">
  <nav class="navbar">
    <span class="navbar-brand" href="#">
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 
      Todo App {{olaola}}
    </span>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
      <li ng-show="logged_in">
        <a ng-click="logout()">
          <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
      </li>
    </ul>
  </nav>
</div>

<div id="main_container" ui-view class="container">
    
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
