<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="TestCtrl">

<%= javascript_include_tag 'application' %>
</body>
</html>
